[submodule "SDL2"]
	path = SDL2
	url = https://github.com/spurious/SDL-mirror.git
	branch = release-2.0.4
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.3.x
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw.git
