[submodule "SDL2"]
	path = SDL2
	url = https://github.com/spurious/SDL-mirror.git
	branch = release-2.0.4
[submodule "SFML"]
	path = SFML
	url = https://github.com/alelievr/SFML
	branch = af3c50e346b60e1316e0e71f3197a903ef8abc1c
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw.git
[submodule "ogg"]
	path = ogg
	url = https://github.com/soundcloud/ogg
[submodule "vorbis"]
	path = vorbis
	url = https://github.com/xiph/vorbis
[submodule "flac"]
	path = flac
	url = https://github.com/xiph/flac
[submodule "freetype"]
	path = freetype
	url = https://github.com/winlibs/freetype
